html{
      font-family: sans-serif;
      font-size: 16px;
}
h1,h2,h3,h4,h5,h6,p, input{
      font-family: sans-serif;
}

h1{
      font-size: 32px;
}
//     ____            __
//    / __/___  ____  / /_
//   / /_/ __ \/ __ \/ __/
//  / __/ /_/ / / / / /_
// /_/  \____/_/ /_/\__/


// @font-face {
//       font-family: 'rubik';
//       src: url('~@/assets/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
//       font-weight: bolder;
//       font-style: italic;
// }
