html{
      font-family: 'rubik', sans-serif;
      font-size: 16px;
}
h1,h2,h3,h4,h5,h6,p, input{
      font-family: 'rubik', sans-serif;
}

h1{
      font-size: 32px;
}
//     ____            __
//    / __/___  ____  / /_
//   / /_/ __ \/ __ \/ __/
//  / __/ /_/ / / / / /_
// /_/  \____/_/ /_/\__/


@font-face {
      font-family: 'rubik';
      src: url('~@/assets/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
      font-weight: bolder;
      font-style: italic;
}

@font-face {
      font-family: 'major-mono-display';
      src: url('~@/assets/fonts/Major_Mono_Display/MajorMonoDisplay-Regular.ttf') format('truetype');
      font-weight: bolder;
      font-style: italic;
}

@font-face {
      font-family: 'marker';
      src: url('~@/assets/fonts/Permanent_Marker/PermanentMarker-Regular.ttf') format('truetype');
}

@font-face {
      font-family: 'brygada';
      src: url('~@/assets/fonts/Brygada_1918/Brygada1918-VariableFont_wght.ttf') format('truetype');
}


.count-font-0{
      font-family: 'rubik';
      font-weight: 600 !important;
      color: rgb(33, 33, 33) !important;
}

.count-font-1{
      font-family: 'marker';
      color: rgb(33, 33, 33) !important;
}
.count-font-2{
      font-family: 'brygada';
      color: rgb(33, 33, 33) !important;
}
.count-font-3{
      font-family: 'major-mono-display';
      color: rgb(33, 33, 33) !important;
}