/* OUTILS - ne génèrent pas de css
========================================================================= = */
@use 'utilities/reset';
@use 'utilities/variables';
@use 'utilities/mixins';
@use 'utilities/utils';
@use 'utilities/animations';
// @use 'utilities/pagesjs.lib';

/* BASE - partie générique du site
========================================================================= = */
@use 'base/typographie';
@use 'base/medias';

/* COMPONENTS - Modules réutilisable dans le site
========================================================================= = */
@use 'components/buttons';
@use 'components/forms';

/* LAYOUT - Mise en page, framework structure des éléments
========================================================================= = */
@use 'layout/navigation';
@use 'layout/header';
@use 'layout/mainlayout';
@use 'layout/footer';
@use 'layout/mediascreens';

/* PAGES - Mise en page relative aux pages spécifique
========================================================================= = */

/* Global
========================================================================= = */
body{
    padding: 0; margin: 0;
	width: 100vw; height: 100vh;
	overflow: hidden;
}

.preview-image{
	position: fixed;
	top: 30px; right: 30px;
	// max-width: 100px;
}